<!doctype html>
<html>
  <head>
    <title>Bate-papo</title>
    <link rel="stylesheet" href="main.css">
    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
  </head>
  <body>
    <ul id="messages"></ul>
    <form action="">
      <input id="m" autocomplete="off" /><button>Enviar</button>
    </form>
  </body>
</html>

<script src="/socket.io/socket.io.js"></script>
<script src="main.js"></script>
